<p-card [styleClass]="'overflow-hidden h-full'">
  <div class="flex flex-col gap-10 overflow-auto">
    <div class="h-2/5 flex flex-col">
      <div class="flex mb-4 items-center gap-4">
        <p-button
          (onClick)="navigateBack()"
          icon="i-[mdi--arrow-left]"
          [pTooltip]="translations.back()"
          [tooltipPosition]="'bottom'"
          [showDelay]="1000"
          [rounded]="true"
        ></p-button>

        <span>{{ translations.dept_from() }} {{ user()?.name }} </span>
      </div>
    </div>
    <p-table
      [value]="depts()"
      selectionMode="single"
      class="h-full"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="caption">
        <span>{{ translations.total() }}: {{ getTotalDept() }}</span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">{{ translations.amount() }}</th>
          <th style="width: auto">{{ translations.dept_deptDate() }}</th>
          <th style="width: auto">{{ translations.dept_redemptionDate() }}</th>
          <th style="width: 5rem">
            <p-button
              icon="i-[mdi--plus]"
              [pTooltip]="translations.add()"
              [tooltipPosition]="'bottom'"
              [showDelay]="1000"
              [rounded]="true"
              (onClick)="onAddDept()"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dept>
        <tr [pSelectableRow]="dept">
          <td>
            <span>{{ dept.amount }}</span>
          </td>
          <td>
            <span>{{ dept.deptDate | date: 'dd.MM.yyyy HH:mm' }} Uhr</span>
          </td>
          <td>
            <span>{{ dept.redemptionDate | date: 'dd.MM.yyyy HH:mm' }}</span>
          </td>
          <td>
            <p-button
              icon="i-[mdi--pencil]"
              [pTooltip]="translations.edit()"
              [tooltipPosition]="'bottom'"
              [showDelay]="1000"
              [rounded]="true"
              (onClick)="onEditDept(dept)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">{{ translations.noRecordsFound() }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<app-dept-dialog></app-dept-dialog>
