<div class="h-full flex flex-col overflow-hidden">
  <p-menubar styleClass="ml-2 mr-2 mt-2 p-4">
    <ng-template pTemplate="start">
      <span class="ml-4"> {{ translations.snackDept() }} </span>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex flex-row items-center">
        <p-tieredMenu #menu [model]="items" [popup]="true">
          <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
            <ng-container>
              <a class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ translationService.translate(item.label) }}</span>
                <span *ngIf="hasSubmenu" class="i-[mdi--chevron-right]"></span>
              </a>
            </ng-container>
          </ng-template>
        </p-tieredMenu>
      </div>
    </ng-template>
  </p-menubar>

  <div class="router-content m-2 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <p-card header="{{ message.header }}">
      <div class="flex flex-row gap-3 m-4">
        <span class="i-[mdi--alert-circle]"></span>
        <p class="mb-0">{{ message.message }}</p>
      </div>
      <div class="flex justify-end gap-4">
        <button
          pButton
          icon="i-[mdi--cancel]"
          severity="secondary"
          (click)="cd.onReject()"
          [rounded]="true"
          class="justify-center w-8rem"
        ></button>
        <button
          pButton
          icon="i-[mdi--delete]"
          severity="danger"
          (click)="cd.onAccept()"
          [rounded]="true"
          class="justify-center w-8rem"
        ></button>
      </div>
    </p-card>
  </ng-template>
</p-confirmDialog>
